body 
{
    background-color: black;
}
.span_class 
{
    display: inline-block;
    background-color: brown;
    width: 100px;
    height: 100px;
    padding: 20px;
}
#div1 
{
    background-color: yellow;
}
#div2 
{
    background-color: gold;
}

#span11 
{
    background-color: red;
}
#span12 
{
    background-color: orange;
}
#span13 
{
    background-color: yellow;
}
#span21 
{
    background-color: green;
}
#span22 
{
    background-color: blue;
}
#span23 
{
    background-color: darkblue;
}
#span31 
{
    background-color: purple;
}
#span32 
{
    background-color: white;
}
#span33 
{
    display: none;
}
