body{
    background-color: black;
    
}
#title{
    filter: opacity(80%);
    color: white;
    font-size: 50px;
    
}
#title2{
    color: white;
    font-size: 25px;
    
}
#img1{
   
    filter: opacity(90%);
    border: violet 6px;
     /* border-radius: 80%;  */
    overflow: auto;
}

.munu{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin: 30px;
    color: #ffff;
    font-size: 20px;
    text-decoration: solid;
}
